<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84618515091-ekmrtsjubsbjg8ku3u7vnj2am9525cho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84618515091-ekmrtsjubsbjg8ku3u7vnj2am9525cho</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>84618515091-q65pke78e0nu4q99noao2h9he5gg4rdk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCw6crcgn03FGgE_hkFkQZju_6JVCUcJZk</string>
	<key>GCM_SENDER_ID</key>
	<string>84618515091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CasaAzul.RetroCollector</string>
	<key>PROJECT_ID</key>
	<string>light-maker-257606</string>
	<key>STORAGE_BUCKET</key>
	<string>light-maker-257606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84618515091:ios:17fc4f9ced27b9a3cf3366</string>
	<key>DATABASE_URL</key>
	<string>https://light-maker-257606.firebaseio.com</string>
</dict>
</plist>